@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.font{
    font-family: "Lexend", sans-serif;
}
.banner-image{
    background-image: url('../src/assets/banner.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height:750px;
}
